kombify-admin/n8n/tool-enrichment-workflow.json
{
  "name": "StackKits - Tool Enrichment Pipeline",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 12 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 200]
    },
    {
      "parameters": {
        "command": "cd /app/kombify-admin && npx ts-node scripts/tool-enrich.ts --batch --limit 10",
        "options": {
          "cwd": "/app/kombify-admin"
        }
      },
      "id": "run-enrichment",
      "name": "Run Enrichment Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [300, 100],
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "// Parse output from the enrichment script\nconst output = $input.all()[0].json.stdout || '';\n\n// Try to extract JSON summary from output\nconst jsonMatch = output.match(/\\{[\\s\\S]*\"enriched\"[\\s\\S]*\\}/);\nif (jsonMatch) {\n  try {\n    const result = JSON.parse(jsonMatch[0]);\n    return [{ json: result }];\n  } catch (e) {\n    // Fall through to simple parsing\n  }\n}\n\n// Simple parsing: count lines that look like success messages\nconst lines = output.split('\\n');\nconst enriched = lines.filter(l => l.includes('✓') || l.includes('Enriched')).length;\nconst errors = lines.filter(l => l.includes('Error') || l.includes('✗')).length;\n\nreturn [{ \n  json: { \n    success: errors === 0,\n    enriched: enriched,\n    errors: errors,\n    raw: output.slice(0, 1000)\n  } \n}];"
      },
      "id": "parse-output",
      "name": "Parse Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "enriched-check",
              "leftValue": "={{ $json.enriched }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-enriched",
      "name": "Any Enriched?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [740, 100]
    },
    {
      "parameters": {
        "channel": "#stackkits-ops",
        "text": "=:sparkles: **Tool Enrichment Complete**\n• Tools enriched: {{ $json.enriched }}\n• Errors: {{ $json.errors }}",
        "otherOptions": {}
      },
      "id": "notify-enriched",
      "name": "Notify Enriched",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [960, 0],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-action",
      "name": "No Action Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [960, 200]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Run Enrichment Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 12 Hours": {
      "main": [
        [
          {
            "node": "Run Enrichment Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Enrichment Script": {
      "main": [
        [
          {
            "node": "Parse Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Output": {
      "main": [
        [
          {
            "node": "Any Enriched?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Enriched?": {
      "main": [
        [
          {
            "node": "Notify Enriched",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Action Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "stackkits",
      "createdAt": "2026-02-11T00:00:00.000Z",
      "updatedAt": "2026-02-11T00:00:00.000Z"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-02-11T00:00:00.000Z",
  "versionId": "1"
}
